/* body {
  background: grey;

  @media (min-width: 768px) {
    color: red;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
} */

/* Font-size pixel in rem umwandeln */

body {
  background: #ffffff;
  /* background: #000000; */
  padding: 0;
  margin: 0;

  /* <STYLE GUIDE MOBILE> */
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 400;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 900;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 900;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

/* todo: check if the code is still in use and needed */
h3 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 900;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.625rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}
