@import "variables.css";
@import "base.css";
@import "components/hero.css";

/* ||##############||  */
/* || global todos ||  */
/* ||##############|| */
/* todo: rework accessibility html */
/* todo: rework comment headlines of CSS and HTML */
/* todo: classes like "article-info__h2--wohl-bauern" change modifier name */
/* todo: integrate headlines like in html document */
/* todo: before production, check and correct codeline number of global css classes */

/* |||| homepage |||| */

/* || navigation || */
/* nav position at top of page, consider to change to fixed/sticky  */
.nav {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  /* todo: fix z-index-workaround */
  z-index: 1;

  padding: 0.75rem 1.5rem;
}
@media (min-width: 1024px) {
  .nav {
    padding: 0.75rem 6.25rem;
  }
}

.logo {
  width: 2.25rem;
  height: 2.25rem;
}

.nav__burger-menu {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1024px) {
  .nav__burger-menu {
    display: none;
  }
}

/* todo: align nav_selection vertically when used overlay for nav menu */
.nav__option {
  display: none;
}

@media (min-width: 1024px) {
  .nav__option {
    display: block;
  }
}

.nav__a--desktop {
  color: rgb(255, 255, 255);
  padding: 0 2rem;
}

.nav__a--desktop:hover {
  text-decoration: underline;
}

.shopping-basket {
  filter: brightness(0) saturate(100%);
  filter: invert(100%) sepia(2%) saturate(321%) hue-rotate(33deg)
    brightness(112%) contrast(100%);
}
/* ||| homepage-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| homepage-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.homepage-header {
  /* do we need width: auto or 100%?
   width: auto; will try as hard as possible
   to keep an element the same width as its parent container when additional 
   space is added from margins, padding, or borders. width: 100%; will make 
   the element as wide as the parent container. Extra spacing will be added 
   to the element's size without regards to the parent.*/
  height: 75vh;
  width: auto;

  color: var(--font-color-white);

  background-image: url("../images/img/three-cups-of-coffee.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  /* or rather row when <nav> and <a> are absolute */
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* | h1-info | */
.homepage-header__headline {
  text-align: center;
}

.homepage-header__h1 {
  margin: 0;
}

/* | button | */
/* considered to be a future Sass mixin/variable */
.button {
  width: 10rem;
  height: 3rem;

  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*button:hover & button:active will be coded in Sass with nesting */
.button:hover {
  background-color: rgb(58, 55, 52);
}

.button:active {
  background-color: rgb(215, 190, 157);
}

.button--homepage-header {
  position: absolute;
  bottom: 15%;
}

/* ||| homepage-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| homepage-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* || section-one || */

.section {
  width: 100%;

  margin: 3.75rem 0;
  padding: 0 1.5rem;
}

/* | article | */

/* todo: adjust width of article-company for optimal details and opening-times rendering */

.article__elements {
  margin: 1.25rem 0;
}

.article-company__h2--roesterei-cafe {
  width: 14ch;
}

.article-company__details {
  display: flex;
  gap: 2rem;
}

.article-info__h2--bio-fair {
  width: 10ch;
}

.article-company__address {
  width: 19ch;
}

.article-company__opening-time {
  width: 13ch;
}

.article__img {
  width: 75%;
  display: block;
  margin: 3.75rem 0;
}

/* only affects the first image */
.article-company__img {
  margin-left: 25%;
}

/* todo: swap image of roesterei-cafe to a cropped image */
@media (min-width: 1024px) {
  .section {
    padding: 0 6.25rem;
  }
  .article {
    margin: 7.5rem 0;
  }
  .article__elements {
    margin: 3.75rem 0;
  }

  .article-company {
    display: flex;
    justify-content: space-between;
  }

  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article-company__text {
    width: 51%;
    padding-right: 3.75rem;
  }
  .article-info__text {
    width: 51%;
    padding-left: 3.75rem;
    order: 2;
  }

  .article-company__h2 {
    margin: 0;
  }
  /* bookmark: 31.03.2023, 08:48 am */

  /* position for both images */
  .article__img {
    width: 49%;
  }

  .article-info__img {
    order: 1;
    margin: 0;
  }

  .article-company__img {
    margin: 0;
    align-self: center;
  }
}
/* || section-two || */

.homepage-s-two {
  background: rgb(26, 26, 26);
  color: var(--font-color-white);

  position: relative;

  margin: 1.25 0;
  padding: 3.75rem 1.5rem;
}

@media (min-width: 1024px) {
  .homepage-s-two {
    padding: 7.5rem 6.25rem;
  }
}

.homepage-s-two__h2 {
  width: 15ch;
}

/* todo: calculate width in context to main__section-two padding (max-width) */
.shop-preview {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2.5rem;

  margin: 2.5rem 0;
}

@media (min-width: 1024px) {
  .shop-preview {
    margin: 5rem 0;
  }
}

.shop-preview__product {
  width: calc(50% - 0.5rem);
}

@media (min-width: 1024px) {
  .shop-preview__product {
    width: calc(25% - 0.75rem);
  }
}

.shop-preview__img {
  background: rgb(255, 255, 255);
}

.shop-preview__product-name {
  font-size: 1.125rem;
}

.shop-preview__product-price {
  color: rgb(115, 115, 115);
}

/* todo: change svg-icon to bigger stroke-weight/size */
.shop-preview__icon {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;

  filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(23%)
    hue-rotate(325deg) brightness(104%) contrast(101%);

  stroke-width: 4;
}

.shop-preview__icon--position {
  margin: 0.25rem 0.25rem 0;
}

.button--homepage-s-two {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: solid #ffffff;
}

/* || section-three || */

.homepage-s-three {
  /* todo: setting min-height for small devices e.g. smartphones */
  height: 50vh;

  background-image: url("../images/img/filled-coffee-bean-bags.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);

  color: var(--font-color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .homepage-s-three {
    height: 70vh;
  }
}

.homepage-s-three__pre {
  font-family: "Roboto", sans-serif;

  margin: 1.25rem 0;
}

.homepage-s-three__a {
  color: var(--font-color-white);
}

.homepage-s-three__a:hover {
  text-decoration: underline;
}

/* ||##############|| */
/* || section-four || */
/* ||##############|| */
/* todo: main__section-four_product_info install a max-height so that the icons do not spread */
.homepage-s-four {
  margin: 3.75rem 0;
}

@media (min-width: 1024px) {
  .homepage-s-four {
    padding: 0 6.25rem;
  }
}
.homepage-s-four__elements {
  margin: 2.5rem 0;
}

.homepage-s-four__h2 {
  text-align: center;
}

@media (min-width: 1024px) {
  .homepage-s-four__product {
    display: flex;
    justify-content: center;
  }
}

.homepage-s-four__img {
  width: 60%;

  display: block;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 1024px) {
  .homepage-s-four__img {
    width: 50%;

    align-self: center;
    position: static;
    left: 0;
    transform: none;
  }
}

.homepage-s-four__product-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (min-width: 1024px) {
  .homepage-s-four__product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.homepage-s-four__feature {
  width: calc(100% / 3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .homepage-s-four__feature {
    width: auto;

    flex-direction: row;
  }
}

.homepage-s-four__icon {
  width: 3.25rem;
  height: 3.25rem;
  display: block;
  margin: 1.25rem;
}

.homepage-s-four__feature-text {
  width: 9ch;

  text-align: center;
}

@media (min-width: 1024px) {
  .homepage-s-four__feature-text {
    text-align: left;
  }
}

.button--homepage-s-four {
  margin-top: 2.5rem;
}
/* ||#####|| */
/* || map || */
/* ||#####|| */

/* todo: add padding left right for map in desktop width */
.map {
  margin-top: 2.5rem;
}
.map__h2 {
  margin: 2.5rem 1.5rem;
}

@media (min-width: 1024px) {
  .map__h2 {
    margin: 2.5rem 6.25rem;
  }
}

.map__iframe {
  width: 100%;
  height: 50vh;
}

/* ||| homepage-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| homepage-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.footer {
  background-color: rgb(0, 0, 0);

  color: var(--font-color-white);

  padding: 3.75rem 1.5rem;
}

.footer__elements {
  margin: 1.5rem 0;
}

.footer__icon {
  width: 2.2rem;
  display: block;
  margin-bottom: 1.25rem;
}

.footer__company {
  padding-right: 1rem;
}

.footer__brand-name {
  font-weight: 900;
  font-size: 1.5rem;
}

.footer__sector {
  font-size: 1.125rem;
}

.footer__details {
  display: flex;
  flex-wrap: wrap;
}

.footer__address-container {
  width: 50%;

  padding: 0 1rem 1rem 0;
}

.footer__address-text {
  width: 19ch;
}

.footer__office-hours-container {
  width: 50%;
}

.footer__office-hours-text {
  width: 14ch;
}

.footer__legal-notice-container {
  width: 50%;
}

.footer__legal-notice-a {
  width: 10ch;
}

.footer__subpages {
  width: 50%;

  padding-right: 1rem;
}

/* todo: creating <a> for each subpage */
.footer__a {
  color: #ffffff;

  display: block;

  text-decoration: none;
}

.footer__a:hover {
  text-decoration: underline;
}

/* todo: adjust media queries for tablet-size */
@media (min-width: 1024px) {
  .footer {
    padding: 7.5rem 18.75rem 7.5rem 6.25rem;
  }

  .footer__icon {
    width: 4.375rem;
  }

  .footer__info {
    display: flex;
  }

  /* Rustica */
  .footer__company {
    width: 30%;
  }

  /* text */
  .footer__details {
    width: 70%;

    display: flex;
    justify-content: space-between;
  }

  .footer__address-container {
    width: auto;

    order: 1;
  }

  .footer__office-hours-container {
    width: 100%;

    /* exclude duo to adding contact <a> */
    /* padding-top: 1.5rem; */

    order: 4;
  }

  .footer__legal-notice-container {
    width: auto;

    order: 3;
  }

  .footer__subpages {
    width: auto;

    order: 2;
  }

  .footer__elements {
    margin: 0;
  }
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||#####################|| */
/* || the-cafe-navigation || */
/* ||#####################|| */

/* using the css classes of codeline ~(13-26)  */

/* ||| the-cafe-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.subpage-header {
  height: 50vh;
  background-image: url(../images/img/rustica-interior.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ||| the-cafe-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||################|| */
/* || the-cafe-s-one || */
/* ||################|| */

/* using the css classes of codeline ~(151-#)  */

/* ||################|| */
/* || the-cafe-s-two || */
/* ||################|| */

/* using the css classes of codeline ~(142-#)  */

.article-info__h2--frisches-gebeack {
  width: 15ch;
}

@media (min-width: 1024px) {
  .article-info__text--position {
    padding: 0 25%;
  }
}

.the-cafe-s-two__gallery {
  height: calc(3rem + 2 * (50vw - 2rem) * 0.66 + 2 * 1.33 * (50vw - 2rem));

  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.the-cafe-s-two__pictures {
  width: calc((100vw - 4rem) / 2);
  height: calc((50vw - 2rem) * 0.66);
}

.the-cafe-s-two__pictures--size {
  height: calc((50vw - 2rem) * 1.33);
}

@media (min-width: 1024px) {
  .the-cafe-s-two__gallery {
    height: calc(1rem + (25vw - 4.5rem) * 0.66 + 1.33 * (25vw - 4.5rem));
  }
  .the-cafe-s-two__pictures {
    width: calc((100vw - 18rem) / 4);
    height: calc((25vw - 4.5rem) * 0.66);
  }

  .the-cafe-s-two__pictures--size {
    height: calc((25vw - 4.5rem) * 1.33);
  }

  .the-cafe-s-two__pictures--order-one {
    order: 1;
  }
  .the-cafe-s-two__pictures--order-two {
    order: 2;
  }
  .the-cafe-s-two__pictures--order-three {
    order: 3;
  }
  .the-cafe-s-two__pictures--order-four {
    order: 4;
  }
  .the-cafe-s-two__pictures--order-five {
    order: 5;
  }
  .the-cafe-s-two__pictures--order-six {
    order: 6;
  }
  .the-cafe-s-two__pictures--order-seven {
    order: 7;
  }
  .the-cafe-s-two__pictures--order-eight {
    order: 8;
  }
}

/* ||##############|| */
/* || the-cafe-map || */
/* ||##############|| */

/* using the css classes of codeline ~(463-#)  */

/* ||| the-cafe-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(483-#)  */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||###########################|| */
/* || rustica-origin-navigation || */
/* ||###########################|| */

/* using the css classes of codeline ~(13-26)  */

/* ||| rustica-origin-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(638-#)  */

.subpage-header--rustica-origin {
  background-image: url("../images/img/harvest-coffee-beans.jpg");
}

/* ||| rustica-origin-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| rustica-origin-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||######################|| */
/* || rustica-origin-s-one || */
/* ||######################|| */

/* using the css classes of codeline ~(142-#)  */
/* using the css classes of codeline ~(662-#)  */

@media (min-width: 1024px) {
  .article-info__text--ursprung-rustica {
    padding: 0 calc(25% - 10.5ch);
  }
}

.article-info__h2--ursprung-rustica {
  width: 11ch;
}

@media (min-width: 1024px) {
  .article-info__h2--ursprung-rustica {
    width: 21ch;
  }
}

/* ||######################|| */
/* || rustica-origin-s-two || */
/* ||######################|| */

/* using the css classes of codeline ~(142-#)  */

.article-info__h2--anbaugebiete {
  width: 15ch;
}

.article-info__h2--wohl-bauern {
  width: 11ch;
}

@media (min-width: 1024px) {
  .article-company__text {
    width: 45%;
    padding-right: 3.75rem;
  }
  .article-company__img--position {
    width: 55%;
  }
  .article-info {
    align-items: flex-start;
  }
  .article-info--position {
    padding: 0 6.25rem;
  }
  .article-info__h2 {
    margin: 0;
  }
}

/* ||| the-cafe-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| the-cafe-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(483-#)  */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||####################|| */
/* || contact-navigation || */
/* ||####################|| */

/* using the css classes of codeline ~(13-26)  */

.nav--design {
  background-color: #ffffff;
}

.logo--design {
  filter: brightness(0) saturate(100%);
}

.nav__burger-menu--design {
  filter: brightness(0) saturate(100%);
}

.nav__a-desktop--design {
  color: #000000;
}

.shopping-basket--design {
  filter: brightness(0) saturate(100%);
}

/* ||| contact-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.blank-header {
  height: 7.5rem;
}

@media (min-width: 1024px) {
  .blank-header {
    height: 15rem;
  }
}

/* ||| contact-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.contact-elements {
  margin-top: 1.5rem;
}

.contact-elements--postion {
  margin-bottom: 1.5rem;
}

.contact__form {
  width: 100%;
}

.contact__label {
  width: 100%;

  display: block;
}

.contact__input {
  width: 100%;

  display: block;
}

/* todo: learn JS to install a optimal dropdown menu */
.contact__select {
  height: 47px;

  background-image: url(../images/icons-svg/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 47px;

  border: 2px solid rgb(26, 26, 26);
  border-radius: 5px;

  appearance: none;
}

.contact__textarea {
  width: 100%;

  border: solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #000000;

  appearance: none;
}

/* using the css classes of codeline ~(115-#)  */
/* todo: "abschicken" difference between firefox and chrome. Firefox looks blur.*/
.button--contact {
  background: rgb(26, 26, 26);

  border: none;

  font-family: inherit;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/* ||| contact-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(483-#)  */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||#######################|| */
/* || legal-info-navigation || */
/* ||#######################|| */

/* using the css classes of codeline ~(13-26)  */
/* using the css classes of codeline ~(856-#)  */

/* ||| legal-info-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(859-#)  */

/* ||| legal-info-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~158  */

.section--legal-info {
  margin-top: 0;
}

.article__elements--legal-info {
  margin-top: 1.5rem;
}

/* ||| legal-info-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| legal-info-footer |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* using the css classes of codeline ~(483-#)  */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| shop |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| shop |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| shop |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| shop |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||#######################|| */
/* || shop-navigation       || */
/* ||#######################|| */

/* ||| contact-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| contact-header |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.blank-header--position {
  height: 6.25rem;
}
/* ||| shop-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||| shop-main |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* using the css classes of codeline ~(252-335)  */

.homepage-s-two {
  background: rgb(26, 26, 26);
  color: var(--font-color-white);

  position: relative;

  margin: 1.25 0;
  padding: 3.75rem 1.5rem;
}

@media (min-width: 1024px) {
  .homepage-s-two {
    padding: 7.5rem 6.25rem;
  }
}

.homepage-s-two__h2 {
  width: 15ch;
}

/* todo: calculate width in context to main__section-two padding (max-width) */
.shop-preview {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2.5rem;

  margin: 2.5rem 0;
}

@media (min-width: 1024px) {
  .shop-preview {
    margin: 5rem 0;
  }
}

.shop-preview__product {
  width: calc(50% - 0.5rem);
}

@media (min-width: 1024px) {
  .shop-preview__product {
    width: calc(25% - 0.75rem);
  }
}

.shop-preview__img {
  background: rgb(255, 255, 255);
}

.shop-preview__product-name {
  font-size: 1.125rem;
}

.shop-preview__product-price {
  color: rgb(115, 115, 115);
}

/* todo: change svg-icon to bigger stroke-weight/size */
.shop-preview__icon {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;

  filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(23%)
    hue-rotate(325deg) brightness(104%) contrast(101%);

  stroke-width: 4;
}

.shop-preview__icon--position {
  margin: 0.25rem 0.25rem 0;
}

.button--homepage-s-two {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: solid #ffffff;
}
