@import "variables.css";
@import "base.css";
@import "components/hero.css";

/* |||| homepage |||| */

/* ||| hero ||| */

.header {
  /* do we need width: auto or 100%? */
  height: 75vh;
  width: 100%;

  color: var(--font-color-white);

  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  /* or rather row when <nav> and <a> are absolute */
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav__img_logo--size {
  width: 2.25rem;
  height: 2.25rem;
}

.nav__img_menu--size {
  width: 1.5rem;
  height: 1.5rem;
}

.header__h1-info-container--position {
  text-align: center;
}

.header__h1 {
  margin: 0;
}
