@import "variables.css";
@import "base.css";
@import "components/hero.css";

/* todo: integrate headlines like in html document */

/* |||| homepage |||| */

/* ||| header ||| */
.header {
  /* do we need width: auto or 100%? */
  height: 75vh;
  width: 100%;

  color: var(--font-color-white);

  background-image: url("../images/img/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  /* or rather row when <nav> and <a> are absolute */
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* | navigation | */
/* nav position at top of page, consider to change to fixed/sticky  */
.nav {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  /* todo: fix z-index-workaround */
  z-index: 1;

  padding: 0.75rem 1.5rem;
}

.nav__img_logo--size {
  width: 2.25rem;
  height: 2.25rem;
}

.nav__img_menu--size {
  width: 1.5rem;
  height: 1.5rem;
}

/* | h1-info | */
.header__h1-info-container--position {
  text-align: center;
}

.header__h1 {
  margin: 0;
}

/* | button | */
/* considered to be a future Sass mixin/variable */
.button {
  width: 10rem;
  height: 3rem;

  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*button:hover & button:active will be coded in Sass with nesting */
.button:hover {
  background-color: rgb(58, 55, 52);
}

.button:active {
  background-color: rgb(215, 190, 157);
}

.button--section-one_position {
  position: absolute;
  bottom: 15%;
}

/* ||| main ||| */
.main {
  width: 100%;
}

/* || section-one || */

.main__section-one {
  width: 100%;

  margin: 3.75rem 0;
  padding: 0 1.5rem;
}

/* | article | */
.article {
  width: 100%;
}

.article--margin-vertical {
  margin: 1.25rem 0;
}

.article__opening-time--flex {
  display: flex;
  gap: 2rem;
}

.article__opening-time_adress--width {
  width: 19ch;
}

.article__opening-time_office-hours--width {
  width: 13ch;
}

.article__img {
  width: 75%;
  height: auto;
}

.article__img--margin {
  display: block;
  margin: 3.75rem 0;
}

.article__img--horizontal-margin {
  margin-left: 25%;
}

/* || section-two || */

.main__section-two {
  background: rgb(26, 26, 26);
  color: var(--font-color-white);

  position: relative;

  margin: 1.25 0;
  padding: 3.75rem 1.5rem;
}

.main__section-two_h2--width {
  width: 15ch;
}

/* todo: calculate width in context to main__section-two padding */
.shop-preview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2.5rem;
}

.shop-preview--margin-vertical {
  margin: 2.5rem 0;
}

/* todo: calculate width in context to gap */
.shop-preview__product {
  width: calc(50% - 0.5rem);
}

.shop-preview__product_img {
  background: rgb(255, 255, 255);
}

.shop-preview__product_info_origin--font-size {
  font-size: 1.125rem;
}

.shop-preview__product_info_price--color {
  color: rgb(115, 115, 115);
}

/* todo: change svg-icon to bigger stroke-weight/size */
.shop-preview__product_info_icon {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;

  filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(23%)
    hue-rotate(325deg) brightness(104%) contrast(101%);
}

.shop-preview__product_info_icon-french-press--margin {
  margin: 0.25rem 0.25rem 0;
}

.button_section-two--border {
  border: solid #ffffff;
}

.button_section-two--position {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/* || section-three || */

.main__section-three {
  /* todo: setting min-height for small devices e.g. smartphones */
  height: 50vh;

  background-image: url("../images/img/section-three-background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);

  color: var(--font-color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__section-three_text {
  font-family: "Roboto", sans-serif;
}

.main__section-three_text--margin-vertical {
  margin: 1.25rem 0;
}

.main__section-three_origin-info {
  color: var(--font-color-white);
}

.main__section-three_origin-info:hover {
  text-decoration: underline;
}

/* || section-four || */

/* todo: consider padding for whole section? */
.main__section-four {
  /* padding: 0 1.5rem; */
  margin: 3.75rem 0;
}

.main__section-four--margin-vertical {
  margin: 2.5rem 0;
}

.main__section-four_h2 {
  text-align: center;
}

.main__section-four_product_img {
  width: 60%;

  display: block;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.main__section-four_product_info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main__section-four_product_feature {
  width: calc(100% / 3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section-four_product_feature_icon {
  width: 3.25rem;
  height: 3.25rem;
}

.main__section-four_product_feature_icon--margin-vertical {
  display: block;
  margin: 1.25rem;
}

.main__section-four_product_feature_text {
  width: 9ch;

  text-align: center;
}

.button__section-four--margin-vertical {
  margin-top: 2.5rem;
}

/* || section-five || */
.main__section-five--margin-top {
  margin-top: 2.5rem;
}

.main__section-five_h2--margin-vertical {
  margin: 2.5rem 1.5rem;
}

.main__section-five_iframe--height {
  height: 50vh;
}
